p{
   color:rgb(236, 149, 34);
}
input[type="text"]{
    width: 50%;
    margin-right: 5px;
}
.form-content{
    display: flex;

}

/* media quaries */
@media only screen and (max-width:500px) {

    #list-inside a{
        display: block;
        width: 100%;
    }
    input[type="submit"]{
        width: 100%;
        margin-top:5px ;
    }
    input[type="text"]{
       width: 100%;
       margin-top:5px ;
    }
    .form-content{
        display: block;
    }
}

